      <header>
        <h1><a href="/flask-elasticsearch">Flask-Elasticsearch</a></h1>
        <p>A Flask extension providing an Elasticsearch connector</p>

        <p class="view"><a href="https://github.com/pfig/flask-elasticsearch">View the Project on GitHub <small>pfig/flask-elasticsearch</small></a></p>

        <p>
          <a href="https://travis-ci.org/pfig/flask-elasticsearch" title="master"><img src="https://travis-ci.org/pfig/flask-elasticsearch.svg?branch=master" alt="CI for master branch"></a>
          <a href="https://travis-ci.org/pfig/flask-elasticsearch" title="develop"><img src="https://travis-ci.org/pfig/flask-elasticsearch.svg?branch=develop" alt="CI for develop branch"></a>
        </p>

        <ul>
          <li><a href="https://github.com/pfig/flask-elasticsearch/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/pfig/flask-elasticsearch/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/pfig/flask-elasticsearch">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
