      <header>
        <h1><a href="/flask-elasticsearch">Flask-Elasticsearch</a></h1>
        <p>A Flask extension providing an Elasticsearch connector</p>

        <p class="view"><a href="https://github.com/pfig/flask-elasticsearch">View the Project on GitHub <small>pfig/flask-elasticsearch</small></a></p>


        <ul>
          <li><a href="https://github.com/pfig/flask-elasticsearch/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/pfig/flask-elasticsearch/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/pfig/flask-elasticsearch">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
